USE [master]
GO
/****** Object:  Database [hospedaria]    Script Date: 10/29/2017 11:33:00 PM ******/
CREATE DATABASE [hospedaria]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hospedaria', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\hospedaria.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'hospedaria_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\hospedaria_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hospedaria].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hospedaria]
GO
/****** Object:  Table [dbo].[CATEGORIA_QUARTO]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA_QUARTO](
	[idCATEGORIA_QUARTO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](50) NOT NULL,
	[VALOR] [decimal](19, 2) NOT NULL,
 CONSTRAINT [PK_CATEGORIA_QUARTO] PRIMARY KEY CLUSTERED 
(
	[idCATEGORIA_QUARTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIAUSU]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAUSU](
	[idCATEGORIAUSU] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [varchar](1) NULL,
	[CODIGO] [int] NULL,
 CONSTRAINT [PK_CATEGORIAUSU] PRIMARY KEY CLUSTERED 
(
	[idCATEGORIAUSU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[idCLIENTES] [int] IDENTITY(1,1) NOT NULL,
	[CPF] [nchar](20) NOT NULL,
	[NOME] [nchar](100) NOT NULL,
	[TELEFONE] [nchar](20) NULL,
	[CELULAR] [nchar](20) NULL,
	[EMAIL] [nchar](100) NULL,
	[CIDADE] [nchar](100) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[idCLIENTES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONDICAO]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONDICAO](
	[idCONDICAO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nchar](20) NOT NULL,
 CONSTRAINT [PK_CONDICAO] PRIMARY KEY CLUSTERED 
(
	[idCONDICAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPENDENTES]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPENDENTES](
	[idDEPENDENTES] [int] IDENTITY(1,1) NOT NULL,
	[idSITUACAO] [int] NOT NULL,
	[idCLIENTES] [int] NOT NULL,
	[NOME] [nchar](100) NOT NULL,
	[IDADE] [int] NOT NULL,
	[HOSPEDADO] [bit] NOT NULL,
 CONSTRAINT [PK_DEPENDENTES] PRIMARY KEY CLUSTERED 
(
	[idDEPENDENTES] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FATURAMENTO]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FATURAMENTO](
	[idFATURAMENTO] [int] NOT NULL,
	[idVENDAS] [int] NULL,
	[idSITUACAO] [int] NOT NULL,
	[DEPENDENTES] [int] NULL,
	[HORAS_HOSPEDAGEM] [int] NOT NULL,
	[VALOR_HOSPEDAGEM] [decimal](19, 4) NOT NULL,
	[VALOR_VENDAS] [decimal](19, 4) NULL,
	[VALOR_TOTAL] [decimal](19, 4) NOT NULL,
 CONSTRAINT [PK_FATURAMENTO] PRIMARY KEY CLUSTERED 
(
	[idFATURAMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOSPEDAGEM]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOSPEDAGEM](
	[idHOSPEDAGEM] [int] IDENTITY(1,1) NOT NULL,
	[idCATEGORIA] [int] NOT NULL,
	[NOME] [nchar](50) NOT NULL,
	[idCONDICAO] [int] NOT NULL,
 CONSTRAINT [PK_HOSPEDAGEM] PRIMARY KEY CLUSTERED 
(
	[idHOSPEDAGEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PENSAO]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PENSAO](
	[idPENSAO] [int] IDENTITY(1,1) NOT NULL,
	[DESCRICAO] [nchar](30) NOT NULL,
	[INCREMENTO] [decimal](19, 4) NOT NULL,
 CONSTRAINT [PK_PENSAO] PRIMARY KEY CLUSTERED 
(
	[idPENSAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[idPRODUTOS] [int] IDENTITY(1,1) NOT NULL,
	[idPENSAO] [int] NOT NULL,
	[idCATEGORIA] [int] NOT NULL,
	[NOME] [varchar](100) NOT NULL,
	[VALOR] [decimal](19, 4) NOT NULL,
	[ESTOQUE] [int] NOT NULL,
	[MASTER] [bit] NOT NULL,
 CONSTRAINT [PK_PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[idPRODUTOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SITUACAO]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SITUACAO](
	[idSITUACAO] [int] IDENTITY(1,1) NOT NULL,
	[idHOSPEDAGEM] [int] NOT NULL,
	[idCLIENTES] [int] NOT NULL,
	[idPENSAO] [int] NOT NULL,
	[DATACHECKIN] [datetime] NOT NULL,
	[DATECHECKOUT] [datetime] NULL,
	[idUSUARIOS] [int] NOT NULL,
	[SITUACAO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_SITUACAO] PRIMARY KEY CLUSTERED 
(
	[idSITUACAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[idUSUARIOS] [int] IDENTITY(1,1) NOT NULL,
	[idCATEGORIAUSU] [int] NOT NULL,
	[NOME] [varchar](1) NOT NULL,
	[LOGIN] [varchar](1) NOT NULL,
	[SENHA] [varchar](1) NOT NULL,
	[SENHA_MESTRE] [varchar](1) NOT NULL,
 CONSTRAINT [PK_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[idUSUARIOS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDAS]    Script Date: 10/29/2017 11:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDAS](
	[idVENDAS] [int] IDENTITY(1,1) NOT NULL,
	[idSITUACAO] [int] NOT NULL,
	[idPRODUTOS] [int] NOT NULL,
	[QUANTIDADE] [int] NOT NULL,
	[VALOR] [decimal](19, 4) NOT NULL,
	[STATUS_PAGAMENTO] [bit] NOT NULL,
 CONSTRAINT [PK_VENDAS] PRIMARY KEY CLUSTERED 
(
	[idVENDAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PENSAO] ADD  CONSTRAINT [DF_PENSAO_INCREMENTO]  DEFAULT ((0)) FOR [INCREMENTO]
GO
ALTER TABLE [dbo].[DEPENDENTES]  WITH CHECK ADD  CONSTRAINT [FK_DEPENDENTES_CLIENTES] FOREIGN KEY([idCLIENTES])
REFERENCES [dbo].[CLIENTES] ([idCLIENTES])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DEPENDENTES] CHECK CONSTRAINT [FK_DEPENDENTES_CLIENTES]
GO
USE [master]
GO
